.create-todo-button {
  position: fixed;
  width: 60px;
  height: 60px;
  background-color: #243E56;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  right: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.create-todo-button svg {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.create-todo-button:hover {
  background-color: #0DE7A6;
}

.create-todo-button svg:hover {
  transform: rotate(360deg);
}
