.create-todo-button {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    width: 60px; 
    height: 60px; 
    border-radius: 50%;
    background-color: #007bff;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .create-todo-button svg {
    color: #fff;
    font-size: 20px; 
  }
  