.todo-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 15px;
  margin-bottom: 1rem;
  margin-right: 15%;
  height: 2rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Ajusta los valores según tus necesidades */
}

.todo-item-text {
  flex-grow: 1;
  margin: 0;
  font-size: 1.3rem;
  cursor: pointer;
  transition: filter 0.3s ease;
}

.todo-item-text:focus {
  filter: blur(2px);
}

.todo-item-completed {
  text-decoration: line-through;
  text-decoration-thickness: 1px;
} 

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 3em;
  margin-block-end: 3em;
  margin-inline-start: 2em;
  margin-inline-end: 2em;
  padding-inline-start: 4rem;
}
